@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600|Roboto+Mono:300,400');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -999;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mobile{
  display: none;
}

.desktop{
  display: block;
}


@media only screen and (max-width:768px) {
  .video-container video{
    height: 100vh;
  }

  .mobile{
    display: block;
  }
  .desktop{
    display: none;
  }

}